<html>
<head>
	<title>Simple Blog</title>
</head>
<body>

<div id="topbar">
<div><h1><a href="/">Simple Blog</a></h1></div>
</div>

<div id="page">
<div id="title"><h2>{{.Title}}<h2></div>
<div id="body">
{{printf "%s" .Body}}
</div>
</div>

</body>
</html>
