<html>
<head>
	<title>Simple Blog</title>
</head>
<body>

<div id="topbar">
<div><a href="/">Simple Blog</a></div>
</div>

<div id="page">
<div id="title">
{{.Title}}
</div>
<div id="body">
{{printf "%s" .Body}}
</div>
</div>

</body>
</html>
